<!DOCTYPE html>
<html>
  <%- include('./head')%>
  <body>
    <%- include('./nav') %>
    <div class="container text-center">
      <div class="row">
        <div class="col-8">
          <div class="mb-3">
            <label for="email" class="float-start" class="form-label">Email: <%= user.email%> </label>
          </div>
          <div class="mb-3">
            <label for="username"  class="float-start">UserName:<%=user.username%> </label>
          </div>
          <div class="mb-3">
            <%if(!isme){ %>
              <div>
                Information:<%=user.information%>
              </div>
              <%}else{%>
            <label for="content"  class="form-label">personal information</label>
            <textarea  class="form-control" id="information" rows="3"><%=user.information%></textarea>
            <div class="mb-3">
              <button  type="button" id="save" class="  float-start btn btn-success">Save</button>
            </div>
            <%}%>
          </div>
        </div>
        
        
      </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">

          <strong class="me-auto">Notify</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          information save
          <a >refresh</a>
        </div>
      </div>
    </div>
    <script>
      let save = document.querySelector('#save')
      let infa = document.querySelector('#information')
      
      save.onclick = function(){
        axios.post('/profile',{
         information:infa.value
        })
        .then((response)=>{
          let toastlive = document.querySelector('#liveToast')

              const toast = new bootstrap.Toast(toastlive)

              toast.show()
        })
      }
    </script>
    
    
  </body>
</html>